<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>VueJS Tutorials</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1>Looping Through Lists</h1>

      <ul>
        <li v-for="c in characters">{{ c }}</li>
      </ul>

      <ul>
        <li v-for="(n, index) in ninjas">
          {{ index + 1 }}. {{ n.name }} - {{ n.age }}
        </li>
      </ul>

      <template v-for="(n, index) in ninjas">
        <h3>{{ index + 1 }}. {{ n.name }}</h3>
        <p>{{ n.age }}</p>
      </template>

      <template v-for="n in ninjas">
        <div v-for="(val,key) in n">
          <p>{{ key }} - {{ val }}</p>
        </div>
      </template>
    </div>

    <script src="app.js"></script>
  </body>
</html>
